@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');

:root{
    --primary-color:#22254b;
    --secondary-color:#373b69;
}

* {
    box-sizing:border-box;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin:0;
}

header {
    display: flex;
    justify-content: flex-end;
    padding:0.5rem;
}

.search {
    background-color: transparent;
    border:3px solid var(--secondary-color);
    border-radius: 10px;
    font-family: inherit;
    padding:0.25rem 0.50rem;
    color:white;
}

.search::placeholder{
    color:#7378c5;
}

.search:focus{
    outline: none;
    background-color: var(--primary-color);
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width:300px;
    margin:1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius:10px;
    position: relative;
    overflow: hidden;
}

.movie img{
    width:100%;
}

.movie-info h3{
    margin:0;
}

.movie-info span{
    background-color: var(--primary-color);
    border-radius: 3px;
    padding:0.25rem 0.5rem;
}

.movie-info span.green{
    color: lawngreen;
}

.movie-info span.red{
    color: red;
}

.movie-info span.orange{
    color: orange;
}

.movie-info {
    color:white;
    display:flex;
    justify-content: space-between;
    padding:1rem;
    letter-spacing: 3px;
}

.movie .overview p {
    margin: 0;
}

.movie .overview{
    background-color: white;
    padding:2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(101%);
    max-height: 100%;
    transition:transform 0.3s ease-in;
}

.movie:hover .overview{
    transform: translateY(0);
}





